<header id="body-header">
    <nav>
        <ul class="nav-menu">
            
            <li class="nav-items"><img src="<%= assetPath('images/MDR.png') %>" alt="can't open" id="logo"></li>
            <li class="nav-items"><a href="/">Home</a></li>
            <li class="nav-items"><a href="/mdr/services">Services</a></li>
            <li class="nav-items"><a href="/mdr/diseases">Diseases</a></li>
            <li class="nav-items"><a href="/mdr/about">About</a></li>
            <li class="nav-items"><a href="#contact">Contact</a></li>
            
            <%if(locals.doctor){%>
                
                <li class="nav-items">
                    <a href="/doctors/profile/<%=doctor.id%>"><%=doctor.name%></a>
                    <!-- <a href="doctors/profile/.id"><%=doctor.email%></a> -->
                </li>
                <li class="nav-items">
                    <a href="/doctors/sign-out"><button id="login">SignOut</button></a>
                </li>

            <%}
            else if(locals.patient){%>
                <li class="nav-items">
                    <a href="/patients/profile/<%=patient.id%>"><%=patient.name%></a>
                </li>
                <li class="nav-items">
                    <a href="/patients/sign-out"><button id="login">SignOut</button></a>
                </li>

            <%}else{%>
                <li class="nav-items"><a href="/users/SignIn"><button id="login">SignIn</button></a></li>
            <%}%>          <!-- <li class="nav-items"><a href="/doctors/sign-out"><button id="login">SignOut</button></a></li> -->
        </ul>
    </nav>
</header>
