
<link rel="stylesheet" href='/css/profile_doctor.css'>


<div class="outer">
    <div class="current">
      <div class="img-name">
            <div class="img">
              <img src="<%=profile_doctor.avatar%>" alt="No profile_pic" width="100">
            </div>
            <div class="detail">
              <h3><%= profile_doctor.name %></h3>
            </div>
      </div>
          <div class="lists">
            <div class="services" >
                <h6>Services</h6>
                <ul>
                  <li><%= profile_doctor.services %></li>
                </ul>
            </div>
            <div class="locations">
              <h6>Locations</h6>
              <ul>
                <li><%= profile_doctor.locations %></li>
              </ul>
           </div>
            <div class="gender">
               <h6>Gender</h6>
               <ul>
                <li><%= profile_doctor.gender %></li>
               </ul>

           </div>
            <div class="emails">
                <h6>Email</h6>
                <ul>
                  <li><%= profile_doctor.email %></li>
                </ul>
          </div>
            <div class="phones">
                <h6>Phone</h6>
                <ul>
                  <li><%= profile_doctor.phone %></li>
                </ul>
          </div>
            <div class="qualifications">
                <h6>Qualifications</h6>
                <ul>
                  <li><%= profile_doctor.qualifications%></li>
                </ul>
          </div>
            <div class="experience">
                <h6>Experience</h6>
                <ul>
                  <li><%= profile_doctor.experience %></li>
                </ul>
              </div>
          </div>
      </div>
      <%if(locals.doctor)
      {%>
    <%if(doctor.id==profile_doctor.id)
    {%>     
            <div class="update">
            <p>Update Information</p>
            <form action="/doctors/update/<%= profile_doctor.id %>"  method="POST" enctype="multipart/form-data">
                <input type="file" name="avatar" id="" placeholder="Profile Picture">
                <input type="text" name="name" placeholder="Name"  value="<%=profile_doctor.name%>" required> 
                <input type="email" name="email" placeholder="Email" value="<%=profile_doctor.email%>" required>
                <input type="tel" name="phone" placeholder="Phone"  value="<%=profile_doctor.phone%>">
                <input type="text" name="gender" placeholder="Gender" value="<%=profile_doctor.gender%>" >
                <input type="text" name="qualifications" placeholder="qualifications" value="<%=profile_doctor.qualifications%>" >
                <input type="text" id="locations" name="locations" placeholder="locations" value="<%=profile_doctor.locations%>">
                <input type="text" name="services" placeholder="Services" value="<%=profile_doctor.services%>" >
                <!-- <label for=""></label> -->
               
                <!-- <textarea name="" id="" cols="30" rows="10"></textarea> -->
                <textarea name="experience" cols="30" rows="3" placeholder="Experience..."><%=profile_doctor.experience%></textarea>   
                <!-- <input type="file" name="avatar" placeholder="Profile Picture"> -->
                <input class="sub" type="submit"  value="Update">
            </form>
            
        </div> 
        
    <%}%>
      <%}%>
     </div>

