<link rel="stylesheet" href='/css/doctors_appointment.css'>
<div class="outer">
    <div class="inner">
        <h1>Total  Treatments : <%=treatments.length%></h1>
        <div class="table-header">
            <table cellpadding="0" cellspacing="0" border="0">
              <thead>
                <tr>
                    <%if(user.user_type=='doctor')
                    {%>
                        <th>Patient</th>
                    <%}
                    else{%>
                        <th>Doctor</th>
                    <%}%>
                   <th>Disease</th>
                   <th>StartDate</th>
                   <th>Lastdate</th>
                   <th>View</th>
                   <th>Delete</th>
                </tr>
              </thead>
            </table>
          </div>
          <div class="table-content">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <%for( a of treatments)
       {%>
                <tr>
                    <%if(user.user_type=='doctor')
                    {%>
                        <td><p><%=a.patient.name%></p></td>
                    <%}
                    else{%>
                        <td><p><%=a.doctor.name%></p></td>
                    <%}%>
                  <td><p><%=a.disease%></p></td>
                  <td><p><%=a.startDate%></p></td>
                  <td><p><%=a.lastDate%></p></td>
                  <td><button class="btn"><a  href="/treatments/detail/<%=a.id%>"><img src='/images/view.png' alt="can't open"></a></button></td>
                  <td><button ><a href="/treatments/treatmentdelete/<%=a.id%>">delete</a></button></td>    
                </tr>
                <%}%>
              </tbody>
            </table>
          </div>
     </div >
</div>