
<link rel="stylesheet" href="/css/your_appointment.css">
<div class="outer">
    <div class="inner">
     <p>Name  <%=patient.name%></p>
     <p>Doctor  <%=appointed_doctor.name%></p>
     <p>Symptoms  <%=appointment.symptoms%></p>
     <p>Date <%=appointment.date%></p>
     <p><%=appointment.mode%></p>
     <p>You appointment booked successfully</p>
     
    </div>
</div>